:root {
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}



body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}


